.splide__slide{
    width: calc(50% - 16px) !important;
    @media (max-width: 768px) {
        width: calc(100% - 16px) !important;
    }
}

::ng-deep .splide__arrow{
    padding: 15px !important;
    border-radius: 4px !important;
}
.splide__list {
    gap: 10px;
}
::ng-deep .splide__arrow[disabled]{
    svg{
        fill: #5C6F82 !important;
    }
}

.light-shadow{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

.card .categoryicon-top {
    height: 12rem;
}
.h-img{
    height: 237px;
}
.mlps-carousel{
    position: relative;
    cursor: pointer;
    .card {
        font-family: "Titillium Web Regular", Arial, Helvetica, sans-serif;
        .card-body{
            .card-title{
                color: var(--primary-01);
                font-weight: 600;
                text-align: center;
                text-decoration: underline;
                text-decoration-thickness: 1px;
                text-underline-offset: 4px;
                font-size: 32px;
            }
            .card-text{
                min-height: 5rem;
                font-family: "Titillium Web Regular", Arial, Helvetica, sans-serif !important;
                color: var(--primary-04);
                font-size: 1.125rem;
                line-height: 28px;
            }
            .card-noclick{
                color: #969ea9;
            }
        }
         &:hover{
                box-shadow: 0px 2px 3px 2px #0000008c;
            }
    }
    .overlay{
        background: transparent;
        width: 100%;
        position: absolute;
        z-index: 99;
        top: 0;
        bottom: 12px;
        cursor: no-drop;
    }
}